
.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.tag-header {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%
}

::deep th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}

.monaco-editor-container {
    height: calc(100vh - 135px);
    width: 100%;
    border: 1px solid gray;
}
