
.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.tag-header {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%
}

::deep th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr:hover {
    background-color: #D6EEEE;
}

.monaco-editor-container {
    height: calc(100vh - 135px);
    width: 100%;
    border: 1px solid gray;
}

.spinner {
    color red;
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 75%;
    left: 50%;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.test-card {
    border-left: 6px solid #3f51b5;
    border-radius: 8px;
}

    .test-card .pass {
        background: #e8f5e9;
    }

    .test-card .fail {
        background: #ffebee;
    }

