@page "/challenge/{ChallengeId:int?}"
@using Ellabit.Challenges
<PageTitle>Ellabit</PageTitle>


<MudTabs Elevation="4"
         Rounded="true"
         Centered="true"
         Color="@Color.Primary"
         ActivePanelIndexChanged="OnTabChanged">
    <MudTabPanel Text="Instructions">
        <h3>@_unloadable?.Context?.Challenge?.Header</h3>
        <br />
        @((MarkupString)(_unloadable?.Context?.Challenge?.Description?.DescriptionCleanup() ?? ""))
        <br />
        @if (_unloadable?.Context?.Challenge?.Tags != null)
        {
            <div class="tag-container">
                <div class="tag-header">
                    <h3>Tags</h3>
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Header</th>
                            <th>Detail</th>
                        </tr>
                        @foreach (var item in _unloadable.Context.Challenge.Tags.Keys)
                        {
                            <tr>
                                <td>
                                    @item
                                </td>
                                <td>
                                    @_unloadable.Context.Challenge.Tags[item]
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    </MudTabPanel>
    @if (_unloadable?.Context?.Challenge is IChallengeBlockly && ((IChallengeBlockly)_unloadable.Context.Challenge).ShowBlockly)
    {
    <MudTabPanel Text="Block">

        <div>
            <div>
                <h2>Experimental</h2>
            </div>
            <div style="height:65vh;padding-left:0">
                <div @ref=blocklyReference id="blocklyDiv" style="height:100%;width:100%"></div>
            </div>
            <div>
                <div style="padding:8px;">
                    <a class="btn btn-primary" href="javascript:void(0);" @onclick="OnBlocklyToCSharp">Convert Blocks To C#</a>
                </div>
            </div>
        </div>
    </MudTabPanel>
    }
    <MudTabPanel Text="Code">
        <MonacoEditor @ref="_editor" ConstructionOptions="EditorConstructionOptions" />
    </MudTabPanel>
    <MudTabPanel Text="Tests">

        <MudButton Disabled="runningTests" Variant="Variant.Filled" Color="Color.Primary" @onclick="OnExecuteTests">Execute Tests</MudButton>
        @if (runningTests)
        {
            <div class="spinner"></div>
        }
        <p>
            @((MarkupString)(testResults ?? ""))
        </p>
        @if (!fail && !runningTests)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="OnNextChallenge">Next Challenge</MudButton>
        }
    </MudTabPanel>
</MudTabs>



<xml id="defaultProgram" style="display: none">
    <block type="variables_set" id="set_n_initial" inline="true" x="20" y="20">
        <field name="VAR">n</field>
        <value name="VALUE">
            <block type="math_number">
                <field name="NUM">1</field>
            </block>
        </value>
        <next>
            <block type="controls_repeat_ext" id="repeat" inline="true">
                <value name="TIMES">
                    <block type="math_number">
                        <field name="NUM">4</field>
                    </block>
                </value>
                <statement name="DO">
                    <block type="variables_set" id="set_n_update" inline="true">
                        <field name="VAR">n</field>
                        <value name="VALUE">
                            <block type="math_arithmetic" inline="true">
                                <field name="OP">MULTIPLY</field>
                                <value name="A">
                                    <block type="variables_get">
                                        <field name="VAR">n</field>
                                    </block>
                                </value>
                                <value name="B">
                                    <block type="math_number">
                                        <field name="NUM">2</field>
                                    </block>
                                </value>
                            </block>
                        </value>
                        <next>
                            <block type="text_print" id="print">
                                <value name="TEXT">
                                    <block type="variables_get">
                                        <field name="VAR">n</field>
                                    </block>
                                </value>
                            </block>
                        </next>
                    </block>
                </statement>
            </block>
        </next>
    </block>
</xml>

<xml id="toolbox" style="display: none">
    <category name="Logic" colour="210">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
        <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block>
    </category>
    <category name="Loops" colour="120">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
            <value name="BY">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
    </category>
    <category name="Math" colour="230">
        <block type="math_number">
            <field name="NUM">123</field>
        </block>
        <block type="math_arithmetic">
            <value name="A">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="B">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
        <block type="math_single">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">9</field>
                </shadow>
            </value>
        </block>
        <block type="math_trig">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">45</field>
                </shadow>
            </value>
        </block>
        <block type="math_constant"></block>
        <block type="math_number_property">
            <value name="NUMBER_TO_CHECK">
                <shadow type="math_number">
                    <field name="NUM">0</field>
                </shadow>
            </value>
        </block>
        <block type="math_round">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM">3.1</field>
                </shadow>
            </value>
        </block>
        <block type="math_on_list"></block>
        <block type="math_modulo">
            <value name="DIVIDEND">
                <shadow type="math_number">
                    <field name="NUM">64</field>
                </shadow>
            </value>
            <value name="DIVISOR">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="math_constrain">
            <value name="VALUE">
                <shadow type="math_number">
                    <field name="NUM">50</field>
                </shadow>
            </value>
            <value name="LOW">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="HIGH">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
        </block>
        <block type="math_random_int">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">100</field>
                </shadow>
            </value>
        </block>
        <block type="math_random_float"></block>
        <block type="math_atan2">
            <value name="X">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="Y">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
        </block>
    </category>
    <category name="Text" colour="160">
        <block type="text"></block>
        <block type="text_join"></block>
        <block type="text_append">
            <value name="TEXT">
                <shadow type="text"></shadow>
            </value>
        </block>
        <block type="text_length">
            <value name="VALUE">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_isEmpty">
            <value name="VALUE">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="text_indexOf">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">{textVariable}</field>
                </block>
            </value>
            <value name="FIND">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_charAt">
            <value name="VALUE">
                <block type="variables_get">
                    <field name="VAR">{textVariable}</field>
                </block>
            </value>
        </block>
        <block type="text_getSubstring">
            <value name="STRING">
                <block type="variables_get">
                    <field name="VAR">{textVariable}</field>
                </block>
            </value>
        </block>
        <block type="text_changeCase">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_trim">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_print">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
        <block type="text_prompt_ext">
            <value name="TEXT">
                <shadow type="text">
                    <field name="TEXT">abc</field>
                </shadow>
            </value>
        </block>
    </category>
    <sep></sep>
    <category name="Variables" colour="330" custom="VARIABLE"></category>
    <category name="Functions" colour="290" custom="PROCEDURE"></category>
</xml>

