@page "/challenge/{ChallengeId:int?}"
@using DynamicCode
@using System.Reflection
@using Ellabit.Challenges
<PageTitle>Ellabit - Return the Sum of Two Numbers</PageTitle>

<MudTabs 
    Elevation="4" 
    Rounded="true" 
    Centered="true" 
    Color="@Color.Primary"     
    ActivePanelIndexChanged="OnTabChanged"
    >
    <MudTabPanel Text="Instructions">
        <h3>@_unloadable?.Context?.Challenge?.Header</h3>
        <br/>
        @((MarkupString)(_unloadable?.Context?.Challenge?.Description.ReplaceLineEndings("<br/>") ?? ""))
    </MudTabPanel>
    <MudTabPanel Text="Code">
        <div id="editor" style="width:fit-content(800px);height:600px;border:1px solid grey"></div>
    </MudTabPanel>
    <MudTabPanel Text="Tests">
         
            <MudButton Disabled="runningTests" Variant="Variant.Filled" Color="Color.Primary" @onclick="OnExecuteTests">Execute Tests</MudButton>

            <p>
            @((MarkupString)(testResults ?? ""))
            </p>
        @if (!fail && !runningTests){
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="OnNextChallenge">Next Challenge</MudButton>
        }
    </MudTabPanel>
</MudTabs>

