@page "/challenge/{ChallengeId:int?}"
@using DynamicCode
@using System.Reflection
@using Ellabit.Challenges
<PageTitle>Ellabit - Return the Sum of Two Numbers</PageTitle>

<style>

    .monaco-editor-container {
        height: calc(100vh - 135px);
        width: 100%;
        border: 1px solid gray;
    }

</style>

<MudTabs 
    Elevation="4" 
    Rounded="true" 
    Centered="true" 
    Color="@Color.Primary"     
    ActivePanelIndexChanged="OnTabChanged"
    >
    <MudTabPanel Text="Instructions">
        <h3>@_unloadable?.Context?.Challenge?.Header</h3>
        <br/>
        @((MarkupString)(_unloadable?.Context?.Challenge?.Description?.DescriptionCleanup() ?? ""))
        <br/>
        @if (_unloadable?.Context?.Challenge?.Tags != null)
        {
            <table>
            @foreach (var item in _unloadable.Context.Challenge.Tags.Keys)
            {
                <tr>
                    <td>
                        @item 
                    </td>
                    <td>
                        @_unloadable.Context.Challenge.Tags[item]
                    </td>
                </tr>
            }
            </table>
        }
    </MudTabPanel>
    <MudTabPanel Text="Code" >
        <MonacoEditor @ref="_editor" ConstructionOptions="EditorConstructionOptions" />
    </MudTabPanel>
    <MudTabPanel Text="Tests">
         
            <MudButton Disabled="runningTests" Variant="Variant.Filled" Color="Color.Primary" @onclick="OnExecuteTests">Execute Tests</MudButton>

            <p>
            @((MarkupString)(testResults ?? ""))
            </p>
        @if (!fail && !runningTests){
            <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="OnNextChallenge">Next Challenge</MudButton>
        }
    </MudTabPanel>
</MudTabs>

