@page "/"
@inject NavigationManager NavMan
@using Ellabit.Challenges
<PageTitle>Ellabit</PageTitle>

@if (Challenges != null)
{
    <table>
        @foreach (int k in Challenges.Keys)
        {
            <tr>
                <td style="width:24px;">@k</td>
                <td @onclick="()=>OnChallange(k)">@Challenges[k].Header</td>
            </tr>
        }    
    </table>
}

@HttpClient?.BaseAddress?.Host : @HttpClient?.BaseAddress?.Port  @HttpClient?.BaseAddress?.AbsolutePath
@code {
    [Inject]
    private Challenges? Challenges { get; set; }
    [Inject]
    public HttpClient? HttpClient { get; set; }
    public void OnChallange(int idx)
    {
        NavMan.NavigateTo($"challenge/{idx}");
    }
}

