@page "/"
@using DynamicCode
@using System.Reflection
@inject IJSRuntime JS
<PageTitle>Index</PageTitle>


Current temperature is: @temp
<br/>
<button @onclick="GetTempurature">Get Temperature</button>
<br/>
<button @onclick="Clear">Clear Cache</button>
<br/>
@editorCode
<br/>
    <div id="editor" style="width:800px;height:600px;border:1px solid grey"></div>
@code {
    int temp;
    [Inject]
    public SimpleUnloadable? _unloadable { get; set; }
    [Inject]
    public HttpClient? Client { get; set; }
    string? editorCode;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BlazacoJSInterop.InitializeEditor(JS, "editor");
            if (_unloadable?.Context?.Code != null)
            {
                await BlazacoJSInterop.SetValue(JS, "editor", _unloadable.Context.Code);
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }
    public async void GetTempurature()
    {

        editorCode = await BlazacoJSInterop.GetValue(JS, "editor");

        temp = await GetNextTemp();
        StateHasChanged();
    }
    private async Task<int> GetNextTemp()
    {
        if (_unloadable == null || _unloadable.Context == null)
        {
            return -997;
        }
        if (_unloadable.Context.CodeTypeName == null )
        {
            return -996;
        }
        if (_unloadable.Context.CodeMethod == null )
        {
            return -995;
        }
        _unloadable.Context.Code = await BlazacoJSInterop.GetValue(JS, "editor");
        var assembly = await _unloadable.Context.GetAssembly("RoslynCompileSample");
        Type? twriter = assembly?.GetType(_unloadable.Context.CodeTypeName);
        MethodInfo? method = twriter?.GetMethod(_unloadable.Context.CodeMethod);
        if (twriter == null)
        {
            return -999;
        }
        var writer = Activator.CreateInstance(twriter);
        var output = method?.Invoke(writer, new object[] { });
        writer = null;
        if (output == null)
        {
            return -998;
        }
        return (int)output;
    }
    public async void Clear()
    {

        if (_unloadable == null)
        {
            return;
        }
        _unloadable.Context.Unload();
        GC.Collect();
        GC.WaitForPendingFinalizers();
        if (Client == null)
        {
            return;
        }
        _unloadable.Context = new SimpleUnloadableAssemblyLoadContext(Client);
    }
}


