.explain {
    flex: 50%;
    display: flex;
}

.explainList {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 640.98px) {
    .explain {
        flex: 100%;
    }
}



.monaco-editor-container {
    height: 400px;
    width: 800px;
    border: 1px solid gray;
}
