@using Ellabit.Theme
@inherits LayoutComponentBase
@inject IJSRuntime runtime
@inject MudTheme _theme
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">         
            <div class="top-row-center">
                <MudText Typo="Typo.h3" Color="Color.Primary">Learn C#</MudText>
            </div>
            <div><a href="https://github.com/kevmoens/Ellabit" target="_blank"><MudText Color="Color.Primary">About</MudText></a></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code{
    private bool _isDarkMode;
    protected override async void OnInitialized()
    {
        IJSObjectReference? module = await runtime.InvokeAsync<IJSObjectReference>("import", "./scripts/theme.js");
        var isDarkMode = await module.InvokeAsync<bool>("isDarkTheme", new object[] { });
        _isDarkMode = isDarkMode;
        StateHasChanged();
        base.OnInitialized();
    }
    
}