@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">         
            <div class="top-row-center"><h3>Learn C#</h3></div>
            <div><a href="https://github.com/kevmoens/Ellabit" target="_blank">About</a></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>