name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@v2

      # Install .NET 10 SDK
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 10.0.100

      # Publish the site
      - name: Publish
        run: dotnet publish Ellabit/Ellabit.csproj -p:GHPages=true -o:public -c:Release

      - name: Change base-tag in index.html from / to Ellabit
        run:  |
          find . -name "index.html" | while read htmlFile; do
              sed -i 's/<base href="\/"/<base href="\/Ellabit\/"/g' $htmlFile
          done
          
      # Deploy the site
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public/wwwroot
          force_orphan: true